body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
main{
    
    
}
/*------------- Top partition--------- */
.upper-section{
    background-color:antiquewhite;
    width: 1298px;
    height: 520px;
    margin-top: 50px;
    margin-left:280px;
    
    padding-left: px;
}
.Top-banner{
     margin-top: 80px;
     padding-left: 40px;
}

.Top-section{
    display: flex; 
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 80px;

}
.Top-Text{
    color:black;
    font-size: 40px;
    padding-top:10px ;
    width: 300px;
    height: 150px;
}
.banner-buttom{
    padding-top:20px;
}
a:hover{
   background-color: red;
}
a{
    text-decoration: none;
    color: white;
    background-color:yellowgreen;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.fa-arrow-right{
    padding-left: 10px;
}
.banner img {
    width: 556px;
    height: 438px;
    margin-top: 30px;
    margin-left: 170px;
    padding-right: 100px;

}
/* ---------------------Player info------------- */

.lower-section{
    background-color: white;
    display: flex;
    width: 1218px;
    padding-left: 80px;
    margin-left:280px ;
    margin-right: 200px;
    

}
.player-1 img{
    margin-left: 10px;
    width: 280px;
    height: 270px;
}
.player-1{
    background-color: white;
    border-radius: 5px;
    margin-top: 80px;
    margin-right: 105px;
    padding-top: 10px;
    width: 650px;
    height: 460px;
    box-shadow: 0 10px 20px 0 black;
}
.player-name{
    padding-left: 10px;
}
/* ----------bottom sector------ */

.bottom-section{
    background-color: white;
    width: 1298px;
    height: 450px;
    margin-left: 280px;
    padding-top: 200px;
    
}
.football-logo{
    height: 100px;
    padding-left: 450px;
}
.social-icons{
    text-align: center;
    margin-left: 100px;
    padding-top: 15px;
}
.Icon{
    width: 32px;
    height: 32px;
    padding-right: 20px;
}
footer{
    text-align: center;
    font-size: 25px;
    margin-left: 80px;
    padding-top: 25px;
}